.heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: indigo;
    color: white;
    padding: 10px;
}
.verifyForm{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media screen and(min-width: 991px) {
    .verifyForm{
        width:50%
    }
  }
  @media screen and(min-width: 991px) {
  .otp-input{
    width: 45%;
   }
}
.verifyForm h2{
    font-size: 29px;
    margin-top: 30px;
    font-weight: 600;
}

.form label{
    font-weight: 700;
}
.form button{
    align-items: center;
  
    background:  indigo;
    color: white;
}
.alert-danger1{
background-color: transparent;
color: red;
}
.label-parent{
    position: relative;
  }
.label-child{
    position: absolute;
    margin: -11px 6px 0px 20px;
    z-index: 99999;
    background: white;
    font-weight: bold;
   
  }
