<h2 class="text-center heading">Apply for a Personal Loan</h2>
<div *ngIf="success" class="row alert alert-success text-center">
    <h3>Thank you for varification {{verifyForm.value.fullName}}.</h3>
</div>
<div *ngIf="!success" class="container verifyForm">
    <div *ngIf="!visible">
        <form class="form my-4" [formGroup]="verifyForm" (ngSubmit)="getOtp()">
            <div class="form-group my-3">
                <label for="address" >City</label>
                <input type="text" class="form-control" id="address" formControlName="city" placeholder="Your city">
                <div *ngIf="f.city.touched && f.city.invalid" class="alert-danger1">
                    <div *ngIf="f?.city?.errors?.required">City is required.</div>
                </div>
            </div>
            <div class="form-group my-3">
                <label for="panNumber">Pan Number*</label>
                <input type="text" class="form-control" id="panNumber" formControlName="panNumber"
                    placeholder="Your Pan Number ">
                <div *ngIf="f.panNumber.touched && f.panNumber.invalid" class="alert-danger1">
                    <div *ngIf="f?.panNumber?.errors?.required">Pan Number is required.</div>
                    <div *ngIf="f?.panNumber?.errors?.pattern">Please, Enter valid Pan Number.</div>
                </div>
            </div>
            <div class="form-group  my-3">
                <label for="name">Full Name*</label>
                <input type="text" class="form-control" id="name" formControlName="fullName"
                    placeholder="Enter Full Name">
                <div *ngIf="f.fullName.touched && f.fullName.invalid" class="alert-danger1">
                    <div *ngIf="f?.fullName?.errors?.required">Full Name is required.</div>
                    <div *ngIf="f?.fullName?.errors?.maxLength">Should not be greater than 140.</div>
                </div>
            </div>

            <div class="form-group  my-3">
                <label for="inputEmail1">Email* </label>
                <input type="email" class="form-control" id="inputEmail1" formControlName="email"
                    placeholder="Enter email">
                <div *ngIf="f.email.touched && f.email.invalid" class="alert-danger1">
                    <div *ngIf="f?.email?.errors?.required">Email is required.</div>
                    <div *ngIf="f?.email?.errors?.pattern">Please, Enter valid Email.</div>
                </div>
            </div>

            <div class="form-group my-3">
                <label for="mobileNumber">Mobile*</label>
                <div class="row">
                    <span>+91</span>
                    <input type="tel" class="form-control" id="mobileNumber" formControlName="mobile"
                        placeholder="Enter Mobile Number" maxlength="10">
                </div>
                <div *ngIf="f.mobile.touched && f.mobile.invalid" class="alert-danger1">
                    <div *ngIf="f?.mobile?.errors?.required">Mobile Number is required.</div>
                    <div *ngIf="f?.mobile?.errors?.pattern">Please, Enter 10 digit Mobile Number.</div>
                </div>
            </div>

            <div class="btn-section  my-3 ">
                <button type="submit" [disabled]="visible || !verifyForm.valid" class="btn btn-solid btn-medium">Get
                    OTP</button>
            </div>
        </form>
    </div>
    <div *ngIf="visible" class="otpSection">
        <h3>Verify your Mobile Number.</h3>
        <p>Enter the 4-digit OTP we sent to +91{{verifyForm.value.mobile}}.</p>
        <form class="form my-4" [formGroup]="verifyOTP" (ngSubmit)="resendOTP()">
            <div class="otp">
                <div class=" label-parent form-group ">
                    <label for="otp"class="label-child">OTP</label>

                    <input type="otp" class="otp-input form-control" id="otp" formControlName="otp"
                        placeholder="Enter 4 digit OTP" maxlength="04">
                    <div class="alert-danger">
                        <div *ngIf="f?.otp?.errors?.required">OTP is required.</div>
                        <div *ngIf="f?.otp?.errors?.maxLength">Should not be greater than 04.</div>
                    </div>
                </div>
            </div>

            <div class="btn-section  my-3">
                <button type="button" class="btn btn-solid btn-medium" (click)="verify()">Verify OTP</button>

            </div>


            <div class="btn-section  my-3">
                <button type="submit" [disabled]="waitSeconds || clickCount > 3" class="btn btn-solid btn-medium">Resend
                    OTP</button>
            </div>
            <div *ngIf="clickCountError" class=alert-danger1>
                <p>Please try again after an hour.</p>
            </div>

        </form>

    </div>


</div>